// Fonts

@import "../../fonts/fontawesome-free-5.2.0-web/scss/fontawesome.scss";
@import "../../fonts/fontawesome-free-5.2.0-web/scss/regular.scss";
@import "../../fonts/fontawesome-free-5.2.0-web/scss/solid.scss";
@import "../../fonts/fontawesome-free-5.2.0-web/scss/brands.scss";

@import "~bulma/css/bulma.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');

.container {
  max-width: 1440px;
  margin:auto;
}
body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --white:#ffffff;
  --green:#03bf3c;
  --blue:#009de1;
  --black:#000000;
  --white1:#efefef;
  --white2:#d8d8d8;
  --gray:rgba(104, 104, 104, 0.59);
  --red:#d0021b
}



.section {
  > * {
    padding:0;
  }
}

a, button {
  &.btn {
    &.green {
      background-color: var(--green);
    }
    &.blue {
      background-color: var(--blue);
    }
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    line-height: 20px;
    display: inline-block;
    border:none;
  }
}
.projects {
  a {
    .card {
      .content {
        .body {
          p {
            margin: 0;
            padding: 0 0 10px;
          }
        }
      }
    }
  }
}
